#column-selector {
  /* width: 100vw; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#display-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* width: 65%; */
  margin-top: 15px;
}

#display-table th, #display-table td{
  padding: 5px 10px;
}

table{
  border: 1px solid black;
}
td{
  border: none;
  
}

.row-grey{
  background-color: lightgray;
}
